@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
	font-family: 'Indie Flower', cursive;
	color: #62695A;
	text-align: center;
}

.site-title {
	position: relative;
	font-size: 7rem;
	z-index: 1000;
	top: 0;
	margin: 0;
}

.under-title {
	position: relative;
	font-size: 2.5rem;
	margin: 0;
	z-index: 1000;
}

@media (max-width: 600px) {
	.site-title{font-size: 3.5rem;}
	.under-title {font-size: 1.7rem;}
}

@media (max-width: 500px) {
	.site-title{font-size: 3rem;}
	.under-title {font-size: 1.3rem;}
}